<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>    
    <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/style.css">  
    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}" defer></script>
</head>    
<body>    
    <h2>Airline Reservation System</h2><br>    
    <div class="login">    
        <form id="login" method="get" action="">
            <h4>Welcome</h4>    
            <button class="btn btn-primary">Search Flights</button>
        </form>     
</div>    
</body>    
</html> 