<!DOCTYPE html>    
<html xmlns:th="http://www.thymeleaf.org">
<head>    
    <title>Login Form</title>    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/style2.css" rel="stylesheet" />  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">  
</head>    
<body>    
    <h2>Airline Reservation System</h2><br>    
    <div class="login">    
    <form id="login" method="get" action="">
        <h4>Welcome</h4>    
        <button class="btn btn-primary" class="center">Search Flights</button>
    </form>     
</div>    
</body>    
</html> 